BODY {
	BACKGROUND: #cc9
}
BODY {
	COLOR: #630
}
DIV {
	COLOR: #630
}
P {
	COLOR: #630
}
TH {
	COLOR: #630
}
TD {
	COLOR: #630
}
A:link {
	COLOR: #fff
}
A:visited {
	COLOR: #696
}
A:active {
	COLOR: #966
}
DIV.nav {
	BORDER-RIGHT: #cc0 solid; PADDING-RIGHT: 5px; BORDER-TOP: #cc0 solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; BACKGROUND: #630; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: #cc0 solid; COLOR: #fff; PADDING-TOP: 5px; BORDER-BOTTOM: #cc0 solid
}
.nav A:link {
	COLOR: #ff0; TEXT-DECORATION: none
}
.nav A:visited {
	COLOR: #cc0; TEXT-DECORATION: none
}
.nav A:hover {
	TEXT-DECORATION: underline
}
.nav A:active {
	COLOR: #966; TEXT-DECORATION: underline
}
DIV.title {
	MARGIN: 1em 9.5em auto
}
.title H2 {
	MARGIN-BOTTOM: 0px
}
.title HR {
	MARGIN-TOP: -1em; MARGIN-BOTTOM: 0px
}
.title P {
	FONT-SIZE: small; MARGIN-BOTTOM: 1em
}
DIV.copyright {
	CLEAR: both; TEXT-ALIGN: center
}
.copyright HR {
	MARGIN: 0px 15em
}
.copyright P {
	MARGIN-TOP: 0px
}
P.disclaimer {
	MARGIN-TOP: 0px; FONT-SIZE: small; TEXT-INDENT: 0px; LINE-HEIGHT: 1.3em
}
DIV.menu {
	MARGIN-LEFT: 9.5em; MARGIN-RIGHT: 9.5em
}
.menu H4 {
	FONT-SIZE: 110%
}
.menu EM {
	FONT-WEIGHT: 300; FONT-SIZE: small; COLOR: #333; FONT-STYLE: normal
}
.menu IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.menu UL {
	MARGIN-BOTTOM: 1em; MARGIN-LEFT: -1em; LINE-HEIGHT: 1.2em
}
DIV.index {
	MARGIN-TOP: 1em; FONT-SIZE: small; TEXT-ALIGN: center
}
DIV.slide {
	CLEAR: both; MARGIN-TOP: -1em; MARGIN-LEFT: 9em
}
.slide P {
	FONT-SIZE: small; FLOAT: left; WIDTH: 8em; TEXT-ALIGN: center
}
.slide IMG {
	MARGIN-TOP: 0.5em; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.video {
	MARGIN: 0px 7em 1em 9.5em
}
.video IMG {
	FLOAT: right; MARGIN: 1em 0px 1em 1em; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.highlight {
	COLOR: #f00
}
DIV.tables {
	MARGIN-LEFT: 9.5em; MARGIN-RIGHT: 9.5em
}
.tables TD {
	FONT-SIZE: small
}
DIV.content {
	MARGIN: 0px 9.5em
}
.content P {
	TEXT-INDENT: 1em; LINE-HEIGHT: 120%
}
